body {
    background-image: linear-gradient(#a1e4e9, #e1ebf1,#a1e4e9,#40a6cd );
}

header h1 {
    font-size: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    margin: 10px 0px;
    text-align: center;
}

header h5 {
    font-size: 200%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    margin: 0px;
    text-align: center;    
}

.text {
    background-color: white;
    margin: calc(5px + 2.2%) auto;
    margin-top: 5px;
    border-radius: 10px;
    padding: 2px;
    width: 98%;
}

.textwimage {
    background-color: white;
    width: 98%;
    margin: calc(5px + 2.2%) auto;
    margin-top: 5px;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;   
    align-content:stretch;
    justify-content: stretch;
    height: min-content;
}

.txt {
    flex-grow: 3;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.a2line {
    background-color: white;
    width: 98%;
    margin: calc(5px + 2.2%) auto;
    margin-top: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.grid {
    width: 40%;
    min-width: 400px;
    background-color:#61e0f5;
    margin: calc(5px + 2.2%) auto;
    margin-top: 10px;
    border-radius: 10px;
    display: grid;
    grid-row: auto auto auto auto;
    grid-column: auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}
 
.grid h3 {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
.grid p {
    font-size: 15px;
}
.grid > div {
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
}

.fullRow {
    grid-column: 1/5;
}
.column2to4 {
    grid-row: 2/4;
}

.nomargin {
    margin: 0px;  
}
.doubleRow {
    text-align: center;
    grid-column: 1/ span 2;
}
.doubleRow2 {
    text-align: center;
    grid-column: 3/ span 2;
}
.textwimage img {
    margin: 0px, 10px;
    max-height: 200px;
    max-width: min-content;
    justify-self: center;
    align-self: center;
    margin: auto auto;
    border-radius: 10px;
}


.text h2, .txt h2 {
    margin: 5px auto;
    text-align: left;
    padding-left: 55px;
    padding-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 2px;
}

.text p, .txt p {
    margin: 0px;
    margin-top: 10px;
    padding-left: 25px;
    font-size: 15px;
    position: relative;
    text-decoration: none;
}

@media only screen and (max-width: 750px) {
    .textwimage {flex-wrap: wrap;}
    .text p, .txt p {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 6px;
    }
    .text p, .txt h2 {
        padding-left: 0px;

        text-align: center;
        text-justify: center;
    }
    .grid {
        width: 80%;
    }
}


.lim {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content:flex-start;
    flex-direction: column;
    position: relative;
}

.limMain {
    font-size: 15px;
    margin: 0px 0px;
    padding: 0px 0px;
}

.limBottom {
    font-size: 9px;
    font-style: italic;
    margin: 0px 0px;
    padding: 0px 0px;
    position: relative;
    bottom: 4px;
    font-weight: 900;
}

.function {
    font-size: 16px;
    font-style: italic;
    margin: 0px;
    padding: 0px;
}

.divi {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content:flex-start;
    flex-direction: column;
    position: relative;
    bottom: 6px;
    margin: 0px;
    padding: 0px;
}

.num, .divi p {
    font-size: 10px;
    margin: 0px 0px;
    padding: 0px 0px; 
    text-align: center;
}
.bar {
    height: 2px;
    width: 100%;
    border-radius: 2px;
    background-color: black;
}

#back {
    background-color: #0a8fbd;
    text-decoration: underline;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 6px;
    border-radius: 10px;
    z-index: 1;
}

#back a:link {
    color: white
}

#back a:visited {
    color: white
}

#back a:hover {
    color: #00ffff;
}

@font-face {
    font-family: "8bit";
    src: url(slkscr.ttf);
  }
  
                
.gc {
    font-family: "8bit", sans-serif;
}