header h1 {
    font-size: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    margin: 10px auto;
    text-align: center;
}

header p {
    font-size: 200%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;    
}

header {

    margin: 0px;
}
body {
    background-image: linear-gradient(#a1e4e9, #0a8fbd);
}


#mommy {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2% 0px;
}

#mommy div {
    width: 300px;
    min-width: 30%;
    max-width: 100%;
    aspect-ratio: 1;
    background-color: white;
    margin: 50px auto;
    border-radius: 13.5%;
    background-image: radial-gradient(white 30%, #a1e4e9  );
    transition: box-shadow, 0.4s;
    text-align: center;
}

#mommy div:hover {
    box-shadow: 0px 0px 29px #0a8fbd;
}

#mommy h2 {
    
}